[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
pythontwitchbotframework = "*"
aiofile = "*"
aiohttp = "==3.6.2"
adafruit-io = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
