<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
</head>
<body>
    <script src="/thisorthat/manage.js"></script>

    <table border=1>
    <tr><td colspan=10 align=center>
        <div id="status">
            {{ message }}
        </div>
        </td>
    </tr>
        <tr>
            <td>ID</td>
            <td>Enabled</td>
            <td>Answer 1</td>
            <td>Answer 2</td>
            <td>Delete</td>
        </tr>
    {% for result in results %}

        <tr>
            <td>{{result.id}}</td>
            <td>
                <form action="" >
                <input type="checkbox" name="enabled" onchange="updateEnable({{result.id}}, this.checked)"
                    {% if not user.admin %} disabled{% endif %}
                    {% if result.enabled %} checked{% endif %}>
                </form>
            </td>
            <td>{{result.answer_1}}</td>
            <td>{{result.answer_2}}</td>
            <td><form action="/thisorthat/delete" method=POST>
                <button name="item_id" value={{result.id}} onclick="return confirm('Do you really want to delete this entry?');">🗑️</button>
                </form>
            </td>
        </tr>
    {% endfor %}

    </table>
    <p>
    <form method=POST action="/thisorthat/add">
    <table border=1>
        <tr><td colspan=10 align=center>Insert new</td></tr>
        <tr>
            <td>Enabled</td>
            <td>Answer 1</td>
            <td>Answer 2</td>
        </tr>
        <tr>
            <td><input type="checkbox" name="enabled"></td>
            <td><input type="text" name="answer_1"></td>
            <td><input type="text" name="answer_2"></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</body>
</html>
