body {
    background-color: #272727;
    /*background-image: url("laptop-background-v1.jpg");
   background-size: 1440px; */
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
  }

.backgroundimage {
    max-width: 1920px;
    position: absolute;
    top: 0px;
}
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@font-face {
    font-family: "mononoki";
    src: local("mononoki-Regular"), url(/mononoki-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "mononoki bold";
    font-style: normal;
    font-weight: bold;
    src: local("mononoki-Bold"), url(/mononoki-Bold.woff2) format("woff2");
}

:root {
    --poll-background: white;
    --font-color: white;
    --odd-color: rgba(0, 150, 0, 0.384);
    --even-color: rgba(0, 150, 0, 0.336);
    --border-color: red;
    --fontsize: 1em;
    /*Dont update items beyond this line*/
    --update-frequency: 1s; /* Change to match speed of updates if you want cosntant moving of the bars Else set to how long you want the animation to last */
    --fade: 0;
    --font: Inconsolata, monospace;
}
.questions{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.smolboi{
    display: flex;
    flex-direction: row;
    flex-grow:1;
}
.picturebox{
    display: flex;
    max-width: 50%;
    justify-content: center;
    flex-grow:0;
    flex-shrink:1;
}
.picture{
    max-height:100%;
    max-width:95%;
    object-fit: scale-down;
}
#fullscreen{
    max-width:100%;
}

.big-boi-container {
    font-size: 1em;
    position: relative;
    z-index: 1;
    transition: opacity linear 1s;
    animation: fadein 1s;
    display:flex;
    flex-direction:column;
    text-shadow: 0 0 5px #C8C8C8;
    width:100%;
    opacity: var(--fade);
    margin-left: 5%;
    margin-right:2.5%
  }
.answer {
    display: inline-block;
    font: var(--font);
    font-size: 1.3em;
}

.votes {
    float: right;
    text-align: right;
}
.triviaQuestion{
    font: var(--font);
    font-size: 1.75em;
    text-align: center;


}

#display-div {
    /* margin-left: 25%;
    margin-right:25%;
    margin-top: 8%;
    color: white;
    text-shadow: 0 0 5px #C8C8C8; */
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    /* height: 100vh; */
    /* max-width: 1920px; */
    color: white;
    font: 1.3rem Inconsolata, monospace;

    position: relative;
    height: 726px;
    width: 1163px;
    top: 71px;
    left: 370px;
    bottom: 0;
    right: 0;
    display:flex;
}

.outer-div {
    position: relative;
    display: flex;
    align-items: center;
    font: var(--font);
    font-size: 1.25em;
    margin-bottom: 0em;
    height: 2em;

    flex-grow:1;
}

.info-div {
    font: var(--font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.footer-div {
    font: var(--font);
    font-size: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.bar-div{
    border-radius: 1.5em;
}
.outer-div:nth-child(even) .bar-div {
    z-index: -1;
    position: absolute;
    width: 0%;
    background-color: var(--even-color);
    transition: linear var(--update-frequency);
    height: 90%;


}

.outer-div:nth-child(odd) .bar-div {
    z-index: -1;
    position: absolute;
    transition: linear var(--update-frequency);
    background-color: var(--odd-color);
    width: 0%;
    height: 90%;

}

#timer {
    text-align: right;
    position: absolute;
    /* height: 750px; */
    /* width: 1250px; */
    color: white;
    font: 6.0rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    top: 0px;
    left: 0px;
    right: 75px;
    z-index: 1;
    margin-top: 5%;
    margin-right: 5%;
}

#footer-div {
    margin: auto;
    width: 80%;
    border-top: 3px solid green;
    padding-top: 10px;
    font: 2.25rem Inconsolata, monospace;
}
