body {
    background-color: #272727;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: "mononoki";
    src: local("mononoki-Regular"), url(/mononoki-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "mononoki bold";
    font-style: normal;
    font-weight: bold;
    src: local("mononoki-Bold"), url(/mononoki-Bold.woff2) format("woff2");
}

:root {
    --fade: 0;
    --font: Inconsolata, monospace;
}

.winner {
    /* display: inline-block; */
    font: var(--font);
    font-size: 1.3em;
    animation: fadein 1s;
    border-radius: 1.5em;
    border-color: red;
}
