[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
python-dotenv = "*"

[packages]
pythontwitchbotframework = "1.16.10"
aiofile = "*"
aiohttp = "==3.6.2"
adafruit-io = "*"
sqlalchemy = "*"
pytz = "*"
mysql-connector-python = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
