aiofiles==0.6.0
bcrypt==3.2.0
cryptography==3.4.7
fastapi==0.63.0
fastapi-sqlalchemy==0.2.1
Jinja2==2.11.3
mysql-connector-python==8.0.24
passlib==1.7.4
pip>=21.0.0
pydantic==1.8.2
PyJWT==2.1.0
python-jose==3.2.0
python-multipart==0.0.5
pythontwitchbotframework==2.3.0
requests==2.25.1
SQLAlchemy==1.4.12
sqlalchemy_json==0.4.0
starlette==0.13.6
uvicorn==0.13.4
websockets==9.0
