requests==2.25.1
pydantic==1.8.1
starlette==0.13.6
websockets==8.1
uvicorn==0.13.4
SQLAlchemy==1.4.9
passlib==1.7.4
fastapi==0.63.0
PyJWT==2.0.1
python-multipart==0.0.5
mysql-connector-python==8.0.23
aiofiles==0.6.0
pythontwitchbotframework==2.2.6
fastapi-sqlalchemy==0.2.1
Jinja2==2.11.3
sqlalchemy_json==0.4.0
python-jose==3.2.0
cryptography==3.4.7
bcrypt==3.2.0
