aiofiles==0.7.0
bcrypt==3.2.0
cryptography==3.4.7
fastapi==0.65.1
fastapi-sqlalchemy==0.2.1
Jinja2==3.0.1
mysql-connector-python==8.0.25
passlib==1.7.4
pip>=21.1.2
pydantic==1.8.2
PyJWT==2.0.0
python-jose==3.2.0
python-multipart==0.0.5
pythontwitchbotframework==2.3.4
requests==2.25.1
SQLAlchemy==1.4.15
sqlalchemy_json==0.4.0
starlette==0.14.2
uvicorn==0.13.4
websockets==9.0
